{% extends 'base.html' %}

{% block content %}

<canvas id="hired" width="600" height="400"></canvas>
<script>

     $.getJSON("/hired.json", function (data) {
         phones=data;
    var pieData = [
            {
                value: phones['h1'],
                color:"#878BB6"
            },
            {
                value : phones['h2'],
                color : "#4ACAB4"
            },
            {
                value : phones['h3'],
                color : "#FF8153"
            },
            {
                value : phones['h4'],
                color : "#FFEA88"
            },
            {
                value : phones['h5'],
                color : "#36A2EB"
            }
        ];
        // Get the context of the canvas element we want to select
        var countries= document.getElementById("hired").getContext("2d");
        new Chart(countries).PolarArea(pieData);
 });

</script>

{% endblock %}
